.popular-post {
  width: 100%;
  height: 45vh;
  position: relative;
  margin-bottom: 3vh;

  @media only screen and (max-width: 1350.98px) {
    margin-bottom: 0;
    height: 30vh;
  }

  @media only screen and (max-width: 950.98px) {
    margin-bottom: 80px;
  }

  @media only screen and (max-width: 820px) {
    //margin-top: 20px;
    //margin-bottom: 250px;
  }

  @media only screen and (max-width: 575.98px) {
    margin-bottom: 140px;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 60%;
    min-height: 240px;
    border-radius: 7px;
    z-index: -1;
  }

  .type {
    display: flex;
    color: #fff;
    background: #4A90E2;
    width: 4vw;
    height: 3vh;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 3vh 0 0 2vw;
    position: absolute;
    @media only screen and (max-width: 1350.98px) {
      width: 7vw;
    }
    @media only screen and (max-width: 900px) {
      width: 10vw;
    }

    @media only screen and (max-width: 575.98px) {
      width: 20vw;
      margin: 3vh 0 0 5vw;
      font-size: 0.8rem;
    }
  }

  .title {
    font-weight: bold;
    margin-top: 4vh;
    font-size: 1.4rem;
    @media only screen and (max-width: 1350.98px) {
      margin-top: 1vh;
    }

  }

  .author {
    font-style: italic;
    color: #666666;
    font-size: 1.1rem;
  }
}