.buttons {
  &:first-child {
    color: #5a5a5a;
  }

  @media only screen and (max-width: 900px) {
    display: flex;
    justify-content: center;
  }

  button {
    font-size: 1.7rem;
    margin-right: 5px;
    padding: 7px;
    width: 2.5vw;
    background: transparent;
    border-radius: 7px;
    border: 1px solid #dbdbdb;

    @media only screen and (max-width: 900px) {
      width: 10vw;
    }
    @media only screen and (max-width: 1450px) {
      width: 5vw;
    }
    @media only screen and (max-width: 575.98px) {
      width: 100%;
    }
  }

}