html,
body {
    padding: 0;
    margin: 0;
    font-family: PT Sans, sans-serif;
    /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
    /*Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
    font-size: 16px;
    scroll-behavior: smooth;
}

@media (min-width: 1921px) {
    body {
        font-size: 32px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}