.container {
    margin: 2em 24em;
}

@media (max-width: 87.5em) {
    .container {
        margin: 2em 2em
    }
}

@media (max-width: 75em) {
    .container {
        margin: 0.5em 2.5em;
    }
}

@media (max-width: 62em) {

}

@media only screen and (max-width: 48em) {
    .container {
        margin: 0 1em;
    }
}